{% extends "base.html" %}

{% block content %}
<h2>Ваша корзина 🛒</h2>

{% if materials %}
    <table class="table">
        <thead>
            <tr>
                <th>Назви матеріалів</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in materials %}
                <tr>
                    <td>{{ item.material.name }}</td>
                    <td>{{ item.material.unit_price }} $</td>
                    <td class="text-center">
                        {% if item.status == "A" %}
                            <a href="dec/{{item.material.id}}" class="btn btn-sm btn-outline-secondary">−</a>
                        {% endif %}

                        <strong class="mx-2">{{ item.count }}</strong>
                        {% if item.status == "A" %}
                            <a href="inc/{{item.material.id}}" class="btn btn-sm btn-outline-secondary">+</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.status == "Bought" %}
                        <span class="btn btn-secondary btn-sm disabled">
                            Куплено
                        </span>
                        {% else %}
                        <a href="buy-material/{{item.material.id}}" class="btn  btn-success btn-sm">
                            Купити матеріал
                        </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="delete-basket/{{item.material.id}}"
                        class="btn btn-danger btn-sm">
                        ❌ Видалити
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Корзина порожня</p>
{% endif %}
{% endblock %}