{% extends 'base.html' %}

{% block content %}

<form class="d-flex">
    <input class="form-control me-2" name="name" value="{{ request.GET.name }}" type="search" placeholder="Name" aria-label="Search">
    <input class="form-control me-2" name="price_gr" value="{{ request.GET.price_gr }}" type="search" placeholder="Price from" aria-label="Search">
    <input class="form-control me-2" name="price_low" value="{{ request.GET.price_low }}" type="search" placeholder="Price to" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<h2>All materials:</h2>

{% load inventory_tags %}

{% show_materials materials %}

<!--  Pagination  -->
<div class="pagination d-flex justify-content-center mt-4">
    <ul class="pagination">

        <!-- Previous and first -->
        {% if materials.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ materials.previous_page_number }}">Попередня</a>
            </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Попередня</span>
        </li>
        {% endif %}

        <!-- Number of pages -->
        {% for num in page_numbers %}
        {% if num == "..." %}

            <li class="page-item disabled">
                <span class="page-link">...</span>
            </li>
        {% else %}
            <li class="page-item {% if num == materials.number %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>

        {% endif %}
        {% endfor %}
        
        <!-- Next and last -->
        {% if materials.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ materials.next_page_number }}">
                    Наступна</a>
            </li>

        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Наступна</span>
            </li>
        {% endif %}
    </ul>
</div>

{% endblock %}
